<<h1>Trip Details</h1>
<p>
  <strong>Start City:</strong> <%= @trip.start_city %>
</p>
<p>
  <strong>End City:</strong> <%= @trip.end_city %>
</p>
<p>
  <strong>Start Time:</strong> <%= @trip.start_time %>
</p>
<p>
  <strong>End Time:</strong> <%= @trip.end_time %>
</p>
<p>
  <strong>Price:</strong> <%= @trip.price %>
</p>
<p>
  <strong>Seats Available:</strong> <%= @trip.seats_available %>
</p>
<p>
  <strong>Status:</strong> <%= @trip.status %>
</p>
<%= link_to "Back to Trips", trips_path %>
